.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.sign,
.back {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  background: #0a2689;
}

.back {
  color: #aaaaaa;
  background: transparent;
}

.loading {
  text-align: center;
}


