@import '../../styles/constants';
@import '../../styles/mixins';

.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  gap: 8px;

  @include big-tablet {
    gap: 0.83vw;
    font-size: 1.875vw;
  }

  @media (max-width: 865px) {
    gap: 4px;
    font-size: 16px;
  }
}

.input {
  padding: 14.2px 18px;
  font-size: 18px;
  border: 2px solid $text;
  border-radius: 8px;

  outline: none;

  &::placeholder {
    color: $text;
  }

  &:focus {
    border: 2px solid $primary;
  }

  @include big-tablet {
    padding: 1.479vw 1.875vw;
    font-size: 1.875vw;
  }

  @media (max-width: 865px) {
    padding: 12px 15px;
    font-size: 16px;
  }
}

.edit {
  color: $text;
  background-color: transparent;
  border: 2px solid $edit-input;
  outline: none;

  &::placeholder {
    padding-right: 2rem;
  }
  &:focus {
    border: 2px solid $primary;
    color: $main-text;
  }
}
