@import '../../styles/constants';
@import '../../styles/mixins';

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
  padding: 4.17%;

  border-radius: 15px;
  background: radial-gradient(farthest-side at 0 0, $background 97%, $cancel-background 140%);
  border: 1px solid $cancel-background;

  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 12px $box-shadow;
  }

  @media (max-width: 1700px) {
    padding: 13px;
  }

  @include middle-desktop {
    padding: 4.48%;
  }

  @include small-desktop {
    padding: 3.75%;
  }

  @media (max-width: 1125px) {
    padding: 13px;
  }

  @include big-tablet {
    padding: 3.82%;
  }

  @media (max-width: 850px) {
    padding: 13px;
  }
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  @include big-desktop {
    margin-bottom: 1.04vw;
  }

  @media (max-width: 1700px) {
    margin-bottom: 17.6px;
  }

  @include middle-desktop {
    margin-bottom: 1.38vw;
  }

  @include small-desktop {
    margin-bottom: 1.56vw;
  }

  @media (max-width: 1125px) {
    margin-bottom: 17.5px;
  }

  @include big-tablet {
    margin-bottom: 2.08vw;
  }

  @media (max-width: 850px) {
    margin-bottom: 17.5px;
  }
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 100%;

  overflow-wrap: break-word;
  overflow-y: hidden;
}

.cardTitle {
  margin-bottom: 4.27%;
  width: 90%;
  height: auto;

  color: $main-text;
  font-size: 20px;
  line-height: normal;

  overflow: hidden;

  @include big-desktop {
    font-size: 1.04vw;
  }

  @media (max-width: 1700px) {
    margin-bottom: 12.2px;
    font-size: 17.5px;
  }

  @include middle-desktop {
    margin-bottom: 4.623%;
    font-size: 1.385vw;
  }

  @include small-desktop {
    margin-bottom: 3.805%;
    font-size: 1.56vw;
  }

  @media (max-width: 1125px) {
    margin-bottom: 12.1px;
    font-size: 17px;
  }

  @include big-tablet {
    margin-bottom: 3.863%;
    font-size: 2.08vw;
  }

  @media (max-width: 850px) {
    margin-bottom: 12.35px;
    font-size: 17px;
  }
}

.cardDescription {
  width: 100%;
  padding-right: 10px;

  color: $text;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;

  @include big-desktop {
    font-size: 0.83vw;
  }

  @media (max-width: 1700px) {
    font-size: 14px;
  }

  @include middle-desktop {
    font-size: 1.11vw;
  }

  @include small-desktop {
    font-size: 1.25vw;
  }

  @media (max-width: 1125px) {
    font-size: 14px;
  }

  @include big-tablet {
    font-size: 1.66vw;
  }

  @media (max-width: 850px) {
    font-size: 14px;
  }
}

.icon {
  display: block;
  min-width: 29px;
  min-height: 29px;
  width: 33px;
  height: 33px;

  background-image: url('../../assets/svg/dashboard.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
  background-color: $primary;
  border-radius: 5px;

  @include big-desktop {
    width: 1.719vw;
    height: 1.719vw;
  }

  @include middle-desktop {
    width: 2.29vw;
    height: 2.29vw;
  }

  @include small-desktop {
    width: 2.579vw;
    height: 2.579vw;
  }

  @include big-tablet {
    width: 3.438vw;
    height: 3.438vw;
  }
}

.btn {
  &:hover {
    .btnIcon {
      fill: $primary;
    }
  }
}

.btn {
  min-width: 24px;
  min-height: 24px;

  @include big-desktop {
    width: 1.405vw;
    height: 1.405vw;
  }

  @include middle-desktop {
    width: 1.875vw;
    height: 1.875vw;
  }

  @include small-desktop {
    width: 2.109vw;
    height: 2.109vw;
  }

  @include big-tablet {
    width: 2.813vw;
    height: 2.813vw;
  }
}

.btnContainer {
  display: flex;
  gap: 8px;
}
