@import '../../styles/constants';
@import '../../styles/mixins';

.card {
  position: relative;
  width: 100%;
  height: 320px;
  padding: 3.28%;

  border-radius: 20px;
  background: radial-gradient(farthest-side at 0 0, $background 97%, $primary 140%);

  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 12px $primary;
  }

  @include big-desktop {
    height: 16.66vw;

    &:hover {
      box-shadow: 0 0 0.62vw $primary;
    }
  }

  @include middle-desktop {
    height: 240px;

    &:hover {
      box-shadow: 0 0 8.9px $primary;
    }
  }

  @include middle-mobile {
    width: 100%;
  }
}

.link {
  text-decoration: none;
}

.content {
  width: 90%;
}

.cardTitle {
  margin-bottom: 1.56%;

  color: $main-text;
  font-size: 22px;

  @include big-desktop {
    font-size: 1.145vw;
  }

  @include middle-desktop {
    margin-bottom: 6px;
    font-size: 16.5px;
  }
}

.cardDescription {
  color: $text;
  font-size: 19px;

  @include big-desktop {
    font-size: 0.989vw;
  }

  @include middle-desktop {
    font-size: 14.2px;
  }
}

.icon {
  display: block;
  width: 5.96%;
  height: 12.14%;
  margin-bottom: 2.62%;

  background-image: url('../../assets/svg/dashboard.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
  background-color: $primary;
  border-radius: 5px;

  @include middle-desktop {
    margin-bottom: 11.2px;
  }

  @include middle-mobile {
    width: 25.5px;
    height: 25.5px;
  }
}

.btnContainer {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 12px;
}
