@import '../../styles/constants';
@import '../../styles/mixins';

.button {
  border: none;
  background-color: transparent;

  outline: none;
  cursor: pointer;

  transition: 0.5s;
}

.close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  @include big-tablet {
    min-width: 22px;
    min-height: 22px;
    width: 3.12vw;
    height: 3.12vw;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 116%;
    height: 14.8%;
  
    background: $primary;
    border-radius: 3.44rem;

    transition: 0.5s;
  }
  
  &::before {
    transform: rotate(45deg);
  }
  
  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background: $hover-primary;
  }
}

.confirm,
.cancel {
  width: 160px;
  padding: 3.5% 0;

  font-size: 18px;
  font-weight: 500;

  border-radius: 10px;

  @include big-tablet {
    font-size: 1.87vw;
  }

  @include small-tablet {
    font-size: 14.3px;
  }
}

.cancel {
  color: $primary;

  background-color: $cancel-background;
  border: 2px solid $cancel-background;

  &:hover {
    color: $hover-primary;

    background-color: transparent;
    border-color: $hover-primary;
  }
}

.confirm {
  color: $btn-text;

  background-color: $primary; 
  border: 2px solid $primary;

  &:hover {
    background-color: $hover-primary;
    border: 2px solid $hover-primary;
  }
}
