@import '../../styles/mixins';
@import '../../styles/mixins';

.container {
  @include common-container;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;

  list-style: none;

  @include middle-desktop {
    max-width: 920px;
  }

  @include big-tablet {
    flex-direction: column;
    align-items: center;
  }
}

.item {
  width: calc((100% - 30px) / 3);

  @include middle-desktop {
    width: 452px;
  }

  @include middle-mobile {
    width: 100%;
  }
}
