@import '../../styles/constants';
@import '../../styles/mixins';

.errorBoundary {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.link {
  text-decoration: none;
}

.btn {
  color: $primary;
  background-color: transparent;
  border: 2px solid $primary;

  &:hover {
    color: $btn-text;
    background-color: $primary;
  }

  @include small-tablet {
    padding: 1.304vw 1.957vw;
    font-size: 2.087vw;
  }

  @media (max-width: 671px) {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.message {
  text-align: center;
}

.title {
  font-size: 22px;
  color: $main-text;

  @include small-tablet {
    margin-bottom: 1.82vw;
    font-size: 2.87vw;
  }

  @media (max-width: 671px) {
    font-size: 19px;
    margin-bottom: 12.2px;
  }
}

.content {
  font-size: 18px;
  color: $text;

  @include small-tablet {
    font-size: 2.34vw;
  }

  @media (max-width: 671px) {
    font-size: 15.7px;
  }
}
