@import '../../styles/constants';
@import '../../styles/mixins';

.container {
  @include common-container;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  overflow-x: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}
.title {
  color: $primary;
}
.allBoards {
  border: none;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: $primary;
  }
}
