@import '../../styles/mixins';
@import '../../styles/constants';

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 83vh;
}

.frame {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 600px;
  padding: 32px;
  gap: 48px;
  margin: 20px;

  background-color: $background;
  border-radius: 20px;
  box-shadow: 0 0 30px $primary;

  @include small-tablet {
    gap: 25px;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.forms {
  width: 100%;
}

.button {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #111111;
  border: 0;
  background: transparent;
  transition: 0.3s;

  @include small-tablet {
    font-size: 18px;
  }
}

.deactivated {
  opacity: 0.25;

  &:hover {
    opacity: 0.6;
  }
}
