@import '../../styles/constants';
@import '../../styles/mixins';

.btn {
  padding: 0;

  &:hover {
    .dropDownBtn {
      fill: $primary;
    }

    .avatar {
      filter: opacity(70%);
    }
  }
}

.avatar {
  @include small-tablet {
    min-width: 36px;
    min-height: 36px;
    width: 5.61vw;
    height: 5.61vw;
  }
}

.btnIcon {
  order: 1;
  width: 12px;

  @include small-tablet {
    min-width: 10px;
    width: 1.566vw;
  }
}

.dropDownBtn {
  fill: $text;
}

.open .dropDownBtn {
  transform: rotate(180deg);
}

.content {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 150px;
}

.userName {
  font-size: 16px;
  overflow-x: hidden;
  text-overflow: ellipsis;

  @include small-tablet {
    font-size: 2.087vw;
  }

  @media (max-width: 671px) {
    font-size: 14px;
  }

  @include middle-mobile {
    display: none;
  }
}
