@import '../../styles/constants';

.item {
  display: flex;
  flex-direction: column;
  flex: 0 0 20rem;
  gap: 1rem;
  min-width: 17.5rem;
  padding: 1rem;
  background-color: $main-background;
  border: 2.5px solid $primary;
  overflow-y: auto;
  height: 63vh;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}
.count {
  color: $text;
  font-size: 1.3rem;
}
