@import '../../styles/constants';

.input {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &::placeholder {
    padding-right: 2rem;
  }
}
.submit,
.cancel {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}
