@import '../../styles/constants';

.input {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.submit,
.cancel {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}
