@import '../../styles/mixins';
@import '../../styles/constants';

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 83vh;
  gap: 20px;
}

.profileTitle {
  margin: 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  @include small-tablet {
    font-size: 24px;
  }
}

.frame {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: 20px;
  padding: 32px;
  gap: 25px;

  background-color: $background;
  border-radius: 20px;
  box-shadow: 0 0 30px $primary;

  @include middle-mobile {
    width: 85%;
  }
}

.form {
  width: 100%;
}

.formTitle {
  width: 100%;
  text-align: center;
}
