* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  font-size: $font-size;
  font-weight: 400;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border: none;
  }
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  display: flex;
  flex-direction: column;
  color: $main-text;
}

#root {
  max-width: 100%;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  color: $main-text;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: $text;
}

main {
  flex: 1 0 auto;

  background-color: $main-background;
}

footer {
  flex: 0 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
