* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  font-size: $font-size;
  font-weight: 400;

  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: $scroll-width;
    height: $scroll-height;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border: none;
    border-radius: 15px;
  }
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  display: flex;
  flex-direction: column;

  color: $main-text;
}

#root {
  max-height: 100vh;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  color: $main-text;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: $text;
}

main {
  background-color: $main-background;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
