/*Fonts*/
$font: 'Roboto', sans-serif;
$font-size: 14px;
$line-height: 16px;

/* Colors */
$main-text: #000;
$text: #b6b6b6;
$primary: #6c5dd3;
$main-background: #f9f8f8;
$background: #fff;

$hover-footer-icon: #000;
$red: #f14a5b;
$pink: #e391ea;

$footer-icon: #b6b6b6;

/* Break points */
$big-desktop: 1920px;

$middle-mobile: 480px;
