@import '../../../styles/constants';

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 2.5rem;
}
.input {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &::placeholder {
    padding-right: 2rem;
  }
  &:focus {
    border-bottom: 1px solid $primary;
  }
}
.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.submit,
.cancel {
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: $primary;
  background-color: transparent;
  cursor: pointer;
}
