@import '../../styles/constants';
@import '../../styles/mixins';

#modal-root {
  position: relative;
  z-index: 2;
}

.open-modal ~ #root {
  overflow: hidden;
  padding-right: 5px;
}

.overlay {
  background-color: $overlay;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.popup {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  padding: 20px;
  max-height: 800px;
  max-width: 1490px;
  width: 78%;
  height: 78vh;

  background-color: $background;
  border-radius: 20px;
  box-shadow: 0 0 30px $primary;

  transform: translate(-50%, -50%);
  z-index: 3;


  @include big-tablet {
    padding: 2.29vw;

    border-radius: 2.29vw;
  }

  @include middle-mobile {
    padding: 10px;

    border-radius: 10px;
  }
}

.closeBtn {
  position: absolute;
  top: -30px;
  right: -30px;

  @include big-tablet {
    top: -3.12vw;
    right: -3.12vw;
  }

  @media (max-width: 706px) {
    top: -22px;
    right: -22px;
  }
}
