@import '../../styles/mixins';

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2% 20px;
  background: linear-gradient(180deg, #BCBFFF 0%, #F6EAFF 100%);
  gap: 20px;

  &Title {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    letter-spacing: -0.7px;

    @include big-tablet {
      font-size: 60px;
    }

    @include small-tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &Text {
    width: 723px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.3px;

    @include big-tablet {
      width: auto;
      font-size: 18px;
    }

    @include small-tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &Img {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/svg/kanban.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include big-tablet {
      height: 450px;
    }

    @include small-tablet {
      height: 400px;
    }

    @include middle-mobile {
      height: 280px;
    }

    @include mobile {
      height: 170px;
    }
  }
}

.drag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  margin:  0 auto;
  padding: 2% 20px;
  gap: 40px;

  @include big-tablet {
    align-items: center;
    flex-direction: column;
  }


  &TextBlock {
    @include big-tablet {
      max-width: 70%;
    }
  }

  &Title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.4px;

    @include big-tablet {
      margin-bottom: 30px;
      font-size: 38px;
      line-height: 1.2;
      text-align: center;
    }

    @include small-tablet {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 1.1;
    }

    @include middle-mobile {
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 1.1;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &Text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #6b6b7f;

    @include big-tablet {
      font-size: 16px;
      line-height: 1.3;
      text-align: center;
    }

    @include middle-mobile {
      font-size: 14px;
    }
  }

  &Img {
    max-width: 480px;

    @include small-tablet {
      min-width: 270px;
      width: 62.5vw;
    }
  }
}

.tryApp {
  padding: 0 20px;
}

.try {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  margin:  0 auto;
  padding: 70px 50px;
  border-radius: 24px;
  background: radial-gradient(farthest-side at 50% 200%, $background 88%, $cancel-background 112%);
  gap: 20px;

  @include big-tablet {
    flex-direction: column;
  }

  @include small-tablet {
    padding: 30px;
  }

  &Img {
    width: 43%;
    height: 43%;

    @include middle-mobile {
      width: 70%;
      height: 70%;
    }
  }

  &TextBlock {
    width: 500px;

    @include small-tablet {
      width: auto;
    }
  }

  &Title {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;

    @include big-tablet {
      text-align: center;
    }

    @include small-tablet {
      margin-bottom: 20px;
      font-size: 32px;
    }

    @include middle-mobile {
      font-size: 25px;
    }
  }

  &List {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    list-style: inside;
    gap: 12px;

    @include small-tablet {
      padding-bottom: 20px;
    }
  }

  &ListItem {
    font-size: 18px;
    line-height: 1.33;

    @include small-tablet {
      font-size: 16px;
      line-height: 1.2;
    }

    @include middle-mobile {
      font-size: 14px;
      line-height: 1.1;
    }
  }

  &Buttons {
    display: flex;
    gap: 5px;

    @include big-tablet {
      justify-content: center;
    }

    @include middle-mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &Button {
    font-weight: 500;
    background-color: transparent;
    color: $primary;
    border: 2px solid $primary;

    transition: 0.5s;

    &:hover {
      background-color: $primary;
      color: $btn-text;
    }

    @include small-tablet {
      padding: 1.304vw 1.957vw;
      font-size: 2.087vw;
    }
  
    @media (max-width: 671px) {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}
.team {
  margin: 5% auto;
  padding: 0 20px;

  &Title {
    margin-bottom: 3%;
    font-size: 36px;
    font-weight: 600;
    text-align: center;

    @include small-tablet {
      font-size: 32px;
    }

    @include middle-mobile {
      font-size: 25px;
    }
  }

  &Members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1160px;
    margin: 0 auto;
    gap: 30px;
  }
}


