@import '../../../styles/constants';
@import '../../../styles/mixins';

.list {
  display: flex;
  column-gap: 5px;

  list-style: none;
}

.icon {
  &:hover {
    fill: $hover-footer-icon;
  }

  @include small-tablet {
    width: 3.915vw;
    height: 3.915vw;
    min-width: 26px;
    min-height: 26px;
  }
}

.purple {
  fill: $primary;
}

.red {
  fill: $red;
}

.pink {
  fill: $pink;
}
