@import '../../styles/constants';
@import '../../styles/mixins';

.footer {
  color: $text;

  background-color: $background;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;

    @include middle-mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    @include middle-mobile {
      flex-direction: row;
      align-items: center;
    }
  }

  &__icon {
    fill: $footer-icon;

    &:hover {
      fill: $hover-footer-icon;
    }
  }
}
