@import '../../../styles/constants';
@import '../../../styles/mixins';

.container {
  display: flex;
  gap: 5px;
}

.iconContent {
  stroke: $btn-text;
}

.arrowIcon {
  fill: $btn-text;

  &:hover {
    fill: $btn-text;
  }
}

.mainIcon {
  order: 1;
}

.linkBtn {
  text-decoration: none;
}

.btn {
  @include small-tablet {
    padding: 1.304vw 1.957vw;
    font-size: 2.087vw;
  }

  @media (max-width: 671px) {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.icon {
  @include small-tablet {
    max-width: 2.089vw;
    max-height: 2.089vw;
  }

  @media (max-width: 671px) {
    max-width: 14px;
    max-height: 14px;
  }

  @include middle-mobile {
    display: none;
  }
}

.mainBtn {
  @media (max-width: 400px) {
    max-width: 110px;
    line-height: 1;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
