@import '../../styles/mixins';
@import '../../styles/constants';

.error404 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include common-container;
  width: 100%;
  height: 100%;
  gap: 50px;
}

.message-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 40px;
  min-width: 40vh;
  height: 100%;;
}

.message-box h1 {
  font-size: 100px;
  line-height: 46px;
  color: $primary;
}

.message-box p {
  font-size: 20px;
  color: $main-text;
}

.message-box button {
  width: max-content;
  color: $primary;
  background-color: transparent;
  border: 2px solid $primary;

  &:hover {
    color: $btn-text;
    background-color: $primary;
  }
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: .2s;
}
#Polygon-3 {
  animation-delay: .4s;
}
#Polygon-4 {
  animation-delay: .6s;
}
#Polygon-5 {
  animation-delay: .8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}

.error-404-svg {
  width: 40vh;
  height: auto;
}

@media (max-width: 767px) {
  .error-404-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  .message-box {
    position: relative;
    z-index: 2;
    background-color: rgba(249, 248, 248, 0.7);
  }
}

