@import '../../styles/constants';

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header {
  font-size: 22px;
  color: $main-text;
}

.content {
  font-size: 18px;
  color: $text;
}
