@import '../../styles/constants';
@import '../../styles/mixins';

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;

  text-align: center;
}

.header {
  font-size: 22px;
  color: $main-text;

  @include big-tablet {
    font-size: 2.291vw;
  }

  @media (max-width: 850px) {
    font-size: 19px;
  }
}

.content {
  font-size: 18px;
  color: $text;

  @include big-tablet {
    font-size: 1.875vw;
  }

  @media (max-width: 850px) {
    font-size: 15px;
  }
}
