@import '../../../styles/constants';
.item {
  height: 11rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  }
}
.header {
  display: flex;
  justify-content: space-between;
}
.title {
  width: 90%;
}

.description {
  color: $text;
}
.owner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 1.75rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  background-color: $accent;
  color: $accent-text;
}
.drag {
  height: 11rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #eff2f4;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}
