@import '../../../styles/constants';
.item {
  padding: 1.5rem;
  word-wrap: break-word;
  border-radius: 0.5rem;
  background-color: #ffffff;
  margin: 0 1rem;
  transition: 0.25s;
  &:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  }

  &:last-of-type {
    margin-bottom: 1rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
}
.title {
  width: 85%;
}
.actions {
  display: flex;
  gap: 0.5rem;
}
.edit {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url('../../../assets/img/edit.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  cursor: pointer;
  filter: invert(87%) sepia(0%) saturate(38%) hue-rotate(175deg) brightness(88%) contrast(81%);
  &:hover {
    filter: invert(41%) sepia(33%) saturate(1775%) hue-rotate(216deg) brightness(87%) contrast(88%);
  }
}
.description {
  color: $text;
}
.owner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 1.75rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  background-color: $accent;
  color: $accent-text;
}
.drag {
  padding: 1.5rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
  background-color: #eff2f4;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}
