@import '../../styles/constants';
@import '../../styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 30px;
  justify-items: center;

  @include middle-mobile {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.loading {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;

  @include big-tablet {
    gap: 1.56vw;
  }

  @include small-tablet {
    gap: 11.9px;
  }
}

.btn {
  padding: 3.5% 0;

  @include small-tablet {
    width: 127.88px;
  }

  @include middle-mobile {
    width: 103.88px;
  }
}

.formBtn {
  padding: 3.5% 0;

  @include small-tablet {
    width: 140px;
  }

  @include middle-mobile {
    width: 50%;
  }
}
